<div class="jumbotron">
  <div class="row">
    <div class="col-sm-6">
      <p>First Name:</p>
    </div>
    <div class="col-sm-6">
      <input type="text" ng-model="firstName" class="form-control" placeholder="First Name">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <p>Last Name:</p>
    </div>
    <div class="col-sm-6">
      <input type="text" ng-model="lastName" class="form-control" placeholder="Last Name">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <p>Mobile:</p>
    </div>
    <div class="col-sm-6">
      <input type="text" ng-model="Mobile" class="form-control" placeholder="Mobile Number">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <p>Street Address:</p>
    </div>
    <div class="col-sm-6">
      <input type="text" ng-model="street_address" class="form-control" placeholder="Street Address">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <p>City:</p>
    </div>
    <div class="col-sm-6">
      <input type="text" ng-model="city" class="form-control" placeholder="City">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <p>Pincode:</p>
    </div>
    <div class="col-sm-6">
      <input type="text" ng-model="pincode" class="form-control" placeholder="Pincode">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <p>State:</p>
    </div>
    <div class="col-sm-6">
      <input type="text" ng-model="state" class="form-control" placeholder="State">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <p>Country:</p>
    </div>
    <div class="col-sm-6">
      <input type="text" ng-model="country" class="form-control" placeholder="Country">
    </div>
  </div>
  <div align="center">
    <label class="btn btn-success" ng-click="createProfile()">Create Profile</label>
  </div>
</div>
